
<br><br>
<div class="card-group">

    <div class="card" >
      <a routerLink="/Products" (click)="setCategoryId(1)"><img src="assets/banner-01.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h3 class="card-title">Women</h3>
        <p class="card-text">Start Shoping</p>
      </div>
    </div>

    <div class="card">
      <a routerLink="/Products" (click)="setCategoryId(2)"><img src="assets/banner-02.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h3 class="card-title">Men</h3>
        <p class="card-text">Start Shoping</p>
      </div>
    </div>

    <div class="card">
      <a routerLink="/Products" (click)="setCategoryId(3)"><img src="assets/banner-03.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h3 class="card-title">Accessories</h3>
        <p class="card-text">Start Shoping</p>
      </div>
    </div>

</div><br><br>
