
<br>
<br>
<br>

<select  name="cat" id="cat" #catId  (change)="categoryChanged(catId.value)"
        class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
        >
  <option value=0>
    Select Category</option>
    <option *ngFor="let item of categoryList" [value]="item.id" >
      {{item.name}}</option>
</select>



<div class="row row-cols-1 row-cols-md-3 g-4">
  <ng-container *ngFor="let item of ProductList">
  <div class="col">
    <div class="card">
      <a  (click)="openProductDetails(item.id)"><img style="height:500px ;" [src]="item.img" class="card-img-top"  alt="..."></a>
      <div class="card-body">

        <div class="row">
          <div class="col-md-6 cart">
            <div >
              <h2 class="card-title">{{item.name}}</h2>
               <h3 class="card-title">{{item.price }}EGP</h3>
            </div>
          </div>
          <div class="col-md-6 cart">
            <button type="button" class="btn btn-secondary"
            [value]="item.id" (click)="openProductDetails(item.id)">Details</button>
           <h3 class="card-title">avalable Quantity: {{item.quantity}}</h3>
           </div>
        </div>


        <div class="row">
          <div class="col-md-6 cart">
            <div >
              <input #Count type="number" value="1" min="1" class="form-control">
            </div>
          </div>
          <div class="col-md-6 cart">
            <button type="button" class="btn btn-secondary" (click)="updateCart(+Count.value,item)">Add to cart</button>
          </div>
        </div>

        </div>
    </div>
  </div>
  </ng-container>
</div>




























