<div style="background-color:#131D47  ;">
  <img src="assets/logo.jpg" alt="logo">
  <br>
  <ul class="navbar-nav mr-auto text-center ">
    <li class="nav-item active">
      <a class="nav-link text-light" routerLink="/Home" routerLinkActive="active">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/Aboutus" routerLinkActive="active">About US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/contactus" routerLinkActive="active">contact US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/login" routerLinkActive="active">login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/register" routerLinkActive="active">register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/insertproduct" routerLinkActive="active">Admin</a>
    </li>
  </ul>
</div>
